@import '/src/sass/__variables.sass'
      

.custom-navbar 
      background-color: $color-quinary !important
      font-size: 14px
      // height: 70px
      // max-height: 216px
      
      h1
            color: black
   